author = "Автор"
description = "Личная страница Ефремова Алексея"
header_title = "Личная страница Ефремова Алексея"
header__link = [ {title:"Вконтакте",href:"#vk",class:"icon-VK"}, {href:"#email",title:"E-mail",class:"icon-Email"}, {href:"#LinkedIn",title:"LinkedIn",class:"icon-Linked-in"}, {href:"#GitHub", title:"GitHub",class:"icon-GitHub-circle"}, {href:"#twitter",title:"twitter",class:"icon-twitter"}, {href:"#vk",title:"Мой Круг",class:"icon-MoiKrug"}, {href:"#vk",title:"Facebook",class:"icon-facebook"}]