extends base/base

block variables
  title = "Lexich homepage"
  description = "Lexich homepage"  


block content
  :markdown
    > Здравствуйте меня зовут Ефремов Алексей (**lexich**)

    > Я занимаюсь разработкой программного обеспечения с 2007 года.

    > Мои интересы распространяются на достаточно широкую область IT    

    - python
    - javascript
    - coffeescript
    - java
    - c++



